
<section class="mb-4" style="padding: 20% 0;">
    <div class="container">
        <h2 class="text-center">User List</h2>
        <input type="text" placeholder="search for user" [(ngModel)]="searchText" >
        <table class="w-100 table border-1">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Job Type</th>
                    <th>password</th>     
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody *ngIf="totalUsersLegnth>0">
                <tr class="mt-3 border" *ngFor="let user of totalUsers ; let row = index">
                    <td>{{row+1}}</td>
                    <td>{{user.fullName | titlecase}}</td>
                    <td>{{user.email | lowercase}}</td>
                    <td>{{user.phoneNum}}</td>
                    <td>{{user.jobType | titlecase}}</td>
                    <td>{{user.pwd}}</td>
                    <td class="row">
                        <a href="#" routerLink="/update-user/{{user.sno}}"><i class="fa fa-edit"></i></a>
                        <span (click)="deleteUser(user.sno)" class="fa fa-trash"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>